html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: #fff;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: 16px;
    color: #000;
    text-shadow: 0 0 1px #eee;
}

a,a:link {
    text-decoration: none;
    color: #0068CC;
}

a:hover,a:active {
    text-decoration: none;
    color: #FF5300;
}

textarea:focus,input:focus {
    background: #fff;
    border: 1px solid #ccc;
}

code {
    color: #600;
    background: #fff;
}

p {
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

ul {
    list-style-type: disc;
}

li {
    line-height: 1.8em;
    margin-left: 10px;
}

ol {
    list-style-type: decimal;
    padding: 10px 0 20px 0;
}

blockquote {
    padding: 10px 0;
    font-size: 1.2em;
    color: #600;
    line-height: 1.8em;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2em;
    padding: 0;
}

h1 {
    font-size: 35px;
}

h1 a,h1 a:link {
    color: #000;
}

h1 a:hover {
    color: #0068CC;
    border-bottom: 0;
}

h2 {
    font-size: 24px;
}

h2.archive {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 20px;
    padding: 5px 0;
}

h3.center {
    text-align: center;
}

h3.important {
    background: #eee;
    margin: 0;
    padding: 0;
    text-align: center;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

#container {
    margin: 0 auto;
    width: 1000px;
}

#topbar {
    float: left;
    width: 960px;
    padding: 10px 20px;
    color: #ccc;
    text-align: center;
    font-size: 12px;
}

#header {
    float: left;
    position: fixed;
    z-index: 100;
    width: 960px;
    padding: 5px 20px;
    background: #fff;
}

#pseudo {
    margin-top: 62px;
    float: left;
    width: 960px;
}

#logo {
    float: left;
    width: 280px;
}

#logo a,a:hover {
    border-bottom: 0;
}

#logo img {
    border-width: 0;
    padding: 5px;
}

#name {
    float: left;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    padding: 10px 0;
    width: 190px;
}

#name a:hover {
    text-decoration: none;
    border-bottom: 0;
    color: #FF5300;
}

#search {
    float: left;
    padding: 0;
    width: 360px;
}

#searchi {
    float: left;
    border: 1px solid #eee;
    color: #aaa;
    height: 26px;
    width: 300px;
    text-shadow: 0 0 1px #eee;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

#searchi:hover {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
}

#searchi:focus {
    border: 1px solid #FF5300;
    -webkit-box-shadow: 0 0 2x rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
}

#searchb {
    float: left;
    border: 0 none;
    margin: 0 0 0 5px;
    padding: 4px 0 0 0;
    border: 1px solid #eee;
    height: 30px;
    width: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color: #fff;
    font-weight: bold;
}

#searchb:hover {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
}

#controls {
    float: left;
    width: 230px;
    padding: 10px 0;
}

#signin {
    float: left;
    width: 90px;
    padding: 10px 0;
}

#join {
    float: left;
    text-align: center;
    width: 960px;
    background: #fff;
}

#blog {
    width: 960px;
    float: left;
    background: #fff;
    padding: 20px;
    line-height: 1.8em;
}

#second {
    float: left;
    width: 440px;
    height: 30px;
    padding: 15px 0 0 0;
}

#searchform {
    float: left;
    position: relative;
    padding: 10px 0;
}

#searchsubmit {
    border: 0 none;
    height: 20px;
    position: absolute;
    right: 4px;
    text-indent: -1000em;
    top: 4px;
    width: 22px;
    padding: 10px 0;
}

#screenshot{

	position:absolute;

	border:1px solid #ccc;

	background:#333;

	padding:5px;

	display:none;

	color:#fff;

	}

.menu {
    float: left;
    list-style: none;
    font-size: 18px;
}

.menu ul {
    list-style: none;
    position: absolute;
    left: -9999px;
    z-index: 200;
    border-top: 0 solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.menu ul li {
    float: none;
}

.menu ul a {
    white-space: nowrap;
    display: block;
    border-bottom: 0;
}

.menu li {
    float: left;
    position: relative;
    display: block;
    padding: 0 5px 0 0;
}

.menu li ul {
    z-index: 200;
}

.menu li a {
    display: block;
    text-decoration: none;
}

.menu li a:hover {
    color: #FF5300;
    text-decoration: none;
    border-bottom: 0;
}

.menu li:hover ul {
    left: 0;
}

.menu li:hover a {
    background: #fff;
    text-decoration: none;
    border-left: #eee;
}

.menu li:hover ul li a:hover {
    background: #fff;
    text-decoration: none;
}

#page {
    float: left;
    width: 960px;
    padding: 20px;
    background: #fff;
    line-height: 1.8em;
}

.page_edit {
    font-size: 12px;
}

.page_column {
    float: left;
    width: 290px;
    padding: 20px 10px;
}

.page_column_list {
    padding: 0 0 20px 15px;
}

#post {
    padding: 0;
    margin: 0;
    float: left;
    width: 640px;
    line-height: 1.8em;
    background: #fff;
}

#post img {
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
}

#post a:hover img {
    border: 1px solid #0068CC;
    text-decoration: none;
}

.post_archive {
    padding: 10px 0;
}

.post_content {
    padding: 10px 0;
}

.post_category {
    padding: 10px 0;
}

.post_more {
    padding: 10px 0;
}

.post_meta {
    font-size: .8em;
    color: #ccc;
    padding: 0;
}

.post_featured {
    font-size: 14px;
    color: #eee;
    padding: 0;
}

.post_tags {
    font-size: .8em;
    color: #ccc;
    padding: 10px 0;
    float: left;
    width: 620px;
}

.post_details {
    padding: 10px 0;
    float: left;
    width: 640px;
}

.post_nav_previous {
    float: left;
    width: 320px;
    padding: 10px 0;
}

.post_nav_next {
    float: left;
    width: 320px;
    text-align: right;
    padding: 10px 0;
}

.post_thumbnail {
    float: left;
    width: 180px;
    height: 120px;
}

.post_comments {
    float: left;
    width: 640px;
}

.post_author {
    background: #eee;
    margin: 10px 0;
    overflow: hidden;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.post_author_avatar {
    float: left;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.post_author_text {
    float: left;
    width: 530px;
}

.post_author img {
    margin: 0;
    padding: 2px;
}

#post_product {
    padding: 0;
    margin: 0;
    float: left;
    width: 960px;
    line-height: 1.8em;
    background: #fff;
}

.post_media {
    float: left;
    padding: 0;
    margin: 0;
    float: left;
    width: 600px;
    height: 280px;
}

.post_summary {
    float: right;
    width: 340px;
    height: 280px;
    padding: 0 0 0 20px;
}

.post_excerpt {
    float: left;
    width: 340px;
    height: 160px;
}

.post_cart {
    float: left;
    width: 340px;
    height: 80px;
    padding: 40px 0 0 0;
}

.post_cart a {
    border: 2px solid #63a62f;
    background: #61ae55;
    background-repeat: repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    color: #fff;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: 16px;
    padding: 10px 106px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
}

.post_cart a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}

.post_about {
    float: left;
    width: 960px;
    text-align: justify;
}

.post_presets_col {
    float: left;
    color: #333;
    font-size: 14px;
    width: 300px;
    padding: 10px;
    text-align: justify;
}

.post_content {
    padding: 0 0 10px 0;
}

.post_category {
    padding: 0 0 20px 0;
}

.post_more {
    padding: 0 0 10px 0;
}

.post_featured {
    font-size: 14px;
    color: #eee;
    padding: 0;
}

.post_image {
    padding: 0;
    margin: 0;
    float: left;
    width: 710px;
    height: 390px;
}

.post_summary {
    float: left;
    width: 230px;
    height: 390px;
    padding-left: 10px;
}

.post_excerpt {
    float: left;
    width: 230px;
    height: 100px;
}

.post_social {
    padding: 0;
    margin: 0;
    float: left;
    border: 0;
    height: 100px;
    width: 230px;
}

.post_social_facebook {
    float: left;
    height: 25px;
    width: 100px;
    padding-top: 10px;
}

.post_social_twitter {
    float: left;
    height: 25px;
    width: 65px;
    padding-top: 10px;
}

.post_social_google {
    float: left;
    height: 25px;
    width: 65px;
    padding-top: 10px;
}

.post_product_social {
    padding: 10px 0 0 0;
    margin: 0;
    float: left;
    height: 30px;
    width: 950px;
    border: 0;
}

.post_product_social_message {
    float: left;
    height: 20px;
    width: 590px;
}

.post_product_social_facebook {
    float: left;
    height: 20px;
    width: 120px;
}

.post_product_social_twitter {
    float: left;
    height: 20px;
    width: 120px;
}

.post_product_social_google {
    float: left;
    height: 20px;
    width: 120px;
}

.post_about {
    padding: 0;
    margin: 10px 0 0 0;
    float: left;
    width: 950px;
    border-bottom: 1px solid #eee;
}

.post_details {
    padding: 0;
    margin: 10px 0 0 0;
    float: left;
    width: 950px;
    border-bottom: 1px solid #eee;
}

.post_related {
    padding: 0;
    margin: 10px 0 0 0;
    float: left;
    width: 950px;
}

.post_presets {
    color: #333;
    line-height: 1.8em;
    border-bottom: 1px solid #eee;
}

.post_cart {
    padding: 0;
    margin: 0;
    float: left;
    border-top: 1px solid #eee;
    height: 100px;
    width: 230px;
}

.post_cart_price {
    font-size: 1.1em;
    float: left;
    border-right: 0 solid #eee;
    height: 30px;
    width: 85px;
    color: #999;
    padding-top: 10px;
}

.post_cart_button {
    font-size: 1em;
    float: left;
    height: 30px;
    width: 135px;
    padding: 10px 10px 0 0;
}

.post_cart_button a {
    color: #fff;
    padding: 2px 10px;
    background: #0068CC;
}

.post_cart_button a:hover {
    border-bottom: 0;
    color: #FF5300;
    background: #f70;
}

.post_product_nav_previous {
    float: left;
    width: 470px;
    height: 20px;
    padding: 0 0 20px 0;
}

.post_product_nav_next {
    float: left;
    width: 470px;
    height: 20px;
    text-align: right;
    padding: 0 0 20px 0;
}

.post_add2cart {
    font-size: 1em;
}

.post_add2cart a {
    color: #fff;
    padding: 2px 20px;
    background: #0068CC;
}

.post_add2cart a:hover {
    border-bottom: 0;
    color: #fff;
    background: #f70;
}

#post_product img {
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20);
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
}

#post_product a {
    border-bottom: 1px solid #eee;
}

#post_product a:hover img {
    border: 1px solid #FF5300;
    text-decoration: none;
}

#post_product a:hover {
    border-bottom: 1px solid #ccc;
}

.add2cart {
    font-size: 1em;
}

.add2cart a {
    color: #fff;
    padding: 2px 20px;
    background: #FF5300;
}

.add2cart a:hover {
    border-bottom: 0;
    color: #fff;
    background: #FF5300;
}

#sidebar {
    width: 300px;
    float: right;
    padding: 0;
    text-align: left;
    background: #fff;
}

#sidebar ul {
    width: 300px;
    padding: 0;
}

#sidebar li {
    list-style-type: none;
    margin: 0;
}

ul.children {
    padding: 0 0 0 10px;
}

#footer_dynamic {
    float: left;
    width: 960px;
    padding: 10px 20px;
    background: none repeat scroll 0 0 rgba(255,255,255,0.5);
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
}

.footer_widget {
    float: left;
    width: 300px;
    padding: 10px;
}

.footer_widget ul {
    padding: 0;
}

.footer_widget li {
    list-style-type: none;
    margin: 0;
}

#footer_static {
    float: left;
    width: 960px;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
}

#filter {
    float: left;
    margin: 5px 0 0 0;
    width: 960px;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;
    z-index: 9999;
    position: relative;
    letter-spacing: -1px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.20);
    box-shadow: 0 0 10px rgba(0,0,0,0.20);
}

#filter ul {
    padding: 0;
}

.filter-category {
    float: left;
    width: 170px;
    list-style: none;
}

.filter-count {
    float: right;
    width: 220px;
    padding: 7px;
    color: #ccc;
}

.filter-count img {
    padding: 0;
}

.filter-category li {
    float: left;
    line-height: 1.2em;
    position: relative;
    border: 1px solid #eee;
}

.filter-category ul li:hover {
    background: #eee;
    list-style: none;
}

.filter-category ul .dropdown {
    background: #fff;
    width: 940px;
    border: 1px solid #eee;
    float: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    margin-top: 19px;
}

.filter-category ul li ul li {
    text-shadow: 1px 1px 1px #eee;
}

.filter {
    float: left;
    font-size: 16px;
    list-style: none;
}

.filter img {
    border: 0;
    padding: 0;
}

.filter li {
    float: left;
    position: relative;
    margin: 0;
    border: 0;
    list-style: none;
}

.filter li a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.filter li:hover a {
    text-shadow: none;
    position: relative;
    z-index: 10;
    padding: 10px;
}

.filter-category .fullwidth {
    position: static!important;
    width: 180px;
    text-align: center;
    height: 45px;
}

.filter .dropdown {
    margin: 10px auto;
    left: -999em;
    position: absolute;
    padding: 10px;
    text-align: left;
}

.filter li:hover .dropdown {
    left: -1px;
    top: 25px;
}

.filter .col_1 {
    float: left;
    width: 183px;
}

.filter .firstcolumn {
    margin-left: 0;
    clear: left;
}

.filter ul,.filter li {
    text-align: left;
    background: #fff;
    padding: 0;
}

.filter li ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li ul li {
    width: 120px;
    line-height: 20px;
    position: relative;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
}

.filter li ul li a {
    padding: 0;
    margin: 0;
}

.filter li .greybox li {
    margin: 0;
    padding: 3px 0;
    width: 183px;
}

.filter li .greybox li img {
    padding: 0 5px 0 0;
}

.filter li .greybox li a {
    padding: 3px 0;
    margin: 0;
}

.filter li .greybox li a:hover {
    color: #ff5300;
    padding: 3px 0;
    margin: 0;
}

.reset li {
    list-style: none;
}

.filter li .current {
    background: #efefef;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 3px 0;
}

#portfolio {
    float: left;
    list-style: none;
    margin-left: 0;
    width: 960px;
}

#portfolio ul {
    float: left;
}

#portfolio li {
    float: left;
    padding: 10px;
    width: 172px;
    height: 155px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

#portfolio li a {
    border-bottom: 0;
}

#portfolio li a:hover img {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 5px rgba(0,104,204,0.20);
    -moz-box-shadow: 0 0 5px rgba(0,104,204,0.20);
    box-shadow: 0 0 5px rgba(0,104,204,0.20);
}

#portfolio li img {
    border: 1px solid #eee;
    padding: 2px;
}

#portfolio.hidden {
    display: none;
}

#count {
    float: left;
    text-align: center;
    list-style: none;
    margin-left: 0;
    width: 100%;
}

.cart {
    font-size: .9em;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    padding: 5px 0 0 0;
}

.cart a,a:hover {
    color: #FF5300;
}

.comment_input {
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
}

.comment_text {
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    width: 600px;
    height: 100px;
}

.comment_button {
    height: 20px;
    width: 150px;
    background: #FF5300;
    border: 0;
    color: #fff;
}

#signup,#social {
    clear: both;
    padding: 10px 0;
}

.signup_form {
    border: 1px solid #ccc;
    height: 20px;
    width: 180px;
    text-shadow: 0 0 1px #eee;
    color: #FF5300;
}

.signup_button {
    height: 20px;
    width: 80px;
    background: #FF5300;
    border: 0;
    color: #fff;
}

#subscribe {
    background: #fff;
    width: 275px;
}

#archives {
    padding: 10px 5px 5px 5px;
    margin: 0;
    float: left;
    width: 960px;
}

.archives_column {
    float: left;
    width: 300px;
    padding: 20px 10px 20px 10px;
}

#add-to-cart {
    text-align: center;
    width: 250px;
    font-size: 1.8em;
}

#add-to-cart a {
    color: #eee;
    padding: 0 20px;
    background: #ff5300;
}

#add-to-cart a:hover {
    border-bottom: 0;
    color: #fff;
    background: #f90;
}

a.add-to-cart {
    text-align: center;
    width: 120px;
    color: #eee;
    padding: 5px;
    background: #ff5300;
}

a.add-to-cart:hover {
    border-bottom: 0;
    color: #fff;
    background: #f90;
}

img a:hover {
    text-decoration: none;
}

img.image {
    background: #eee;
    padding: 5px;
}

img.archive-thumbnail {
    float: left;
    background: #eee;
    border: 1px solid #ccc;
    padding: 5px;
}

div.textwidget {
    padding-bottom: 20px;
}

#items .item-grid ul {
    list-style: none;
    padding: 0;
}

#items .item-grid li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 215px;
    text-align: center;
}

#items li.grid-break {
    background: #ccc;
    border-top: 1px solid #fff;
    clear: both;
    float: none;
    height: 1px;
    width: 950px;
}

img.size-full {
    max-width: 100%;
    width: auto;
    height: auto;
}

img.aligncenter {
    clear: both;
    display: block;
    margin: 15px auto;
}

img.alignleft {
    display: inline;
    float: left;
    margin: 15px 15px 15px 0;
}

img.alignright {
    display: inline;
    float: right;
    margin: 15px 0 15px 15px;
}

img.alignnone {
    margin: auto;
}

img {
    border-color: #eee;
    border-style: solid;
    border-width: 0;
    padding: 0;
}

.wp-smiley img {
    border: 0;
}

#wp-calendar #prev a,#wp-calendar #next a {
    font-size: 10pt;
}

#wp-calendar a {
    text-decoration: none;
}

#wp-calendar caption {
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2em;
    padding: 10px 0;
    text-align: center;
}

#wp-calendar th {
    font-style: normal;
    text-transform: capitalize;
}

#wp-calendar {
    empty-cells: show;
    margin: 10px auto 0;
    width: 300px;
}

#wp-calendar thead {
    text-align: center;
}

#wp-calendar #next a {
    padding-right: 10px;
    text-align: right;
}

#wp-calendar #prev a {
    padding-left: 10px;
    text-align: left;
}

#wp-calendar a {
    display: block;
}

#wp-calendar caption {
    text-align: center;
    width: 100%;
}

#wp-calendar td {
    padding: 5px 0;
    text-align: center;
}

#today {
    background: #ccc;
}

#wp-calendar td.pad:hover {
    background: #fff;
}

#share_sidebar {
    background: none repeat scroll 0 0 rgba(255,255,255,0.1);
    padding: 4px;
    z-index: 11500;
    width: 64px;
    text-align: center;
    margin-right: 6px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: fixed;
    left: 50%;
    top: 335px;
    margin-left: -580px;
}

.share_button {
    margin-bottom: 8px;
}

#share_sidebar_2 {
    top: 25%;
    width: 69px;
    Left: 0!important;
    overflow: hidden;
    position: fixed;
    z-index: 100000;
    text-align: center;
    line-height: normal;
    _position: absolute;
    font-size: 9px;
}

.center {
    text-align: center;
}

.fb-like {
    margin: 0;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch",Courier,monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1.6em;
    overflow: auto;
    max-width: 100%;
}

address {
    margin: 0 0 1.5em;
}

code,kbd,tt,var {
    font: 15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

abbr,acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

figure {
    margin: 0;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

th {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

b,strong {
    font-weight: bold;
}

dfn,cite,em,i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

.wp-pagenavi {
    float: left;
}

.wp-pagenavi a,.wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 4px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.wp-pagenavi a:hover,.wp-pagenavi span.current {
    border-color: #000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}

#rcp_header {
    width: 280px;
    margin: 0 auto;
    background: none repeat scroll 0 0 rgba(255,255,255,0.8);
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
}

.rcp_member_benefits {
    width: 42%;
    float: left;
    text-align: left;
    padding: 10px;
}

.rcp_member_register {
    width: 50%;
    border-left: 1px solid #eee;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    float: right;
    padding: 10px;
}

.rcp_member_benefits ul {
    list-style-type: none;
}

.rcp_member_benefits ul li {
    background: url("images/checkmark.png") no-repeat 0 .1em;
    margin: 0 0 40px 10px;
    line-height: 1em;
    padding: 0 0 0 20px;
}

.rcp_member_login {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

#rcp_members {
    float: left;
    width: 940px;
    padding: 10px;
    line-height: 1.8em;
    background: none repeat scroll 0 0 rgba(255,255,255,0.8);
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
}

#rcp_subscription_details {
    list-style: none;
}

.rcp_form label {
    display: block;
    float: left;
    width: 320px;
    text-align: right;
    padding: 4px 0;
}

.rcp_form label [for=rcp_auto_renew] {
    display: block;
    float: right;
    width: 320px;
    text-align: left;
}

.rcp_form input[type="text"],.rcp_form input[type="password"],.rcp_form input[type="email"] {
    padding: 5px 10px;
    background: #fff;
    font-size: 16px;
    color: #999;
    border: 1px solid #ccc;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    margin: 10px 5px;
}

.rcp_form input[type="checkbox"],.rcp_form select {
    margin: 10px 0;
    background: #fafafa;
    font-size: 18px;
    border: 2px solid #ccc;
}

.rcp_form input[type="text"]:focus,.rcp_form input[type="password"]:focus,.rcp_form input[type="email"]:focus {
    border-color: #FF5300;
}

.rcp_form input.error,.rcp_form input[type="text"]:focus.error,.rcp_form input[type="password"]:focus.error,.rcp_form input[type="email"]:focus.error {
    border-color: #ffa5a5;
    -moz-box-shadow: 0 0 2px #ffbfbf;
    -webkit-box-shadow: 0 0 2px #ffbfbf;
    box-shadow: 0 0 2px #ffbfbf;
}

.rcp_form ul {
    margin: 0 0 15px;
    padding: 0;
}

.rcp_form li {
    list-style: none;
    margin: 0 0 15px;
}

.rcp_message {
    margin: 0 0 15px;
}

p.rcp_error {
    width: 33%;
    margin: 0 auto;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

p.rcp_error span {
    display: block;
    background: #ffbfbf;
    border-top: 1px solid #f9d1d1;
    padding: 0 4px;
}

.rcp_level_description {
    margin-left: 10px;
    padding-left: 8px;
    font-size: 12px;
}

.rcp_discount_valid {
    color: #42961e;
}

.rcp_discount_invalid {
    color: #b01000;
}

.rcp_lost_password {
    padding: 0;
}

.rcp_form input[type="submit"] {
    width: 200px;
    padding: 5px 20px;
    margin: 10px auto;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 -1px 0 #1f5f89;
    border: 1px solid #5595ba;
    border-bottom: 1px solid #296a92;
    background: #5780ac;
    background-repeat: repeat-x;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 0 0 #93b4d7;
    -moz-box-shadow: inset 0 1px 0 0 #93b4d7;
    box-shadow: inset 0 1px 0 0 #93b4d7;
}

#disqus_thread {
    padding: 10px 0;
    margin: 0 auto;
    float: left;
    width: 620px;
}

.right {
    float: left;
    width: 150px;
}

.left {
    float: left;
    width: 150px;
}

.post-ratings img {
    box-shadow: 0 0 0!important;
    -webkit-box-shadow: 0 0 0!important;
    -moz-box-shadow: 0 0 0!important;
    border: 0!important;
}

.wp_rp_wrap .related_post_title {
    clear: both;
    padding: 0!important;
    margin: 0!important;
}

div.wp_rp_content {
    display: inline-block!important;
}

div.wp_rp_footer {
    text-align: right!important;
}

div.wp_rp_footer a {
    color: #999!important;
    font-size: 11px!important;
    text-decoration: none!important;
}

div.wp_rp_footer a.wp_rp_edit {
    color: #fff!important;
    font-size: 12px!important;
    text-decoration: underline!important;
    font-weight: bold!important;
    background: #f79124!important;
    border-radius: 2px!important;
    padding: 3px 6px;
}

ul.related_post {
    display: inline-block!important;
    position: relative!important;
    margin: 0!important;
    padding: 0!important;
}

ul.related_post li {
    position: relative!important;
    display: inline-block!important;
    vertical-align: top!important;
    zoom: 1!important;
    *display: inline!important;
    width: 150px!important;
    margin: 10px 10px 10px 0!important;
    padding: 0!important;
    background: none!important;
}

ul.related_post li a {
    position: relative!important;
    display: block!important;
    font-size: 13px!important;
    line-height: 1.6em!important;
    text-decoration: none!important;
    margin-bottom: 5px!important;
}

ul.related_post li img {
    display: block!important;
    width: 150px!important;
    height: 150px!important;
    max-width: 100%!important;
    margin: 0!important;
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-radius: 0!important;
}

ul.related_post li a img.wp_rp_santa_hat {
    display: none!important;
}

ul.related_post li small {
    font-size: 80%;
}

@media screen and (max-width:480px) {
    ul.related_post li {
        display: block!important;
        width: auto!important;
        clear: both!important;
    }

    ul.related_post li a:nth-child(1) {
        float: left!important;
    }

    ul.related_post li a:nth-child(2) {
        font-size: 14px!important;
        padding: 10px 0 10px 110px!important;
        display: block!important;
        height: 80px!important;
    }

    ul.related_post li img {
        width: 100px!important;
        height: 100px!important;
    };
}

ul.cat_two {
    float: left;
    width: 145px!important;
    padding: 0 5px 0 0!important;
}

.switcherMenu {
    display: inline-block;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
}

.switcherMenu>ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.switcherMenu:hover>ul.dropdown {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.30);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.30);
    box-shadow: 0 0 3px rgba(0,0,0,0.30);
}

.switcherMenu>ul>li {
    margin-left: 0!important;
}

.switcherMenu>ul.dropdown>li.second a {
    font-size: 25px;
    padding: 2px 0;
}

.switcherMenu>ul.dropdown>li>a {
    display: none;
    width: 260px;
    font-size: 31px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: left;
    border: 0;
    background: #fff;
}

.switcherMenu>ul.dropdown>li>a>img {
    vertical-align: middle;
    border: 0;
}

.switcherMenu:hover>ul.dropdown>li:first-child>a {
    -moz-border-radius-topLeft: 1px!important;
    -webkit-border-top-left-radius: 1px!important;
    border-top-left-radius: 1px!important;
    -moz-border-radius-topRight: 1px!important;
    -webkit-border-top-right-radius: 1px!important;
    border-top-right-radius: 1px!important;
}

.switcherMenu:hover>ul.dropdown>li:last-child>a {
    -moz-border-radius-bottomLeft: 1px!important;
    -webkit-border-bottom-left-radius: 1px!important;
    border-bottom-left-radius: 1px!important;
    -moz-border-radius-bottomRight: 1px!important;
    -webkit-border-bottom-right-radius: 1px!important;
    border-bottom-right-radius: 1px!important;
}

.switcherMenu>ul.dropdown>li>a.active {
    display: block;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.switcherMenu:hover>ul.dropdown>li>a {
    display: block;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    position: static;
}

.switcherMenu>ul.dropdown>li>a:hover {
    border: 0;
}

.switcherMenu:hover>ul.dropdown>li>a.active:active,.switcherMenu>ul.dropdown>li>a:active {
    border: 0;
}

.switcherMenu:hover>ul.dropdown>li>a.active {
    border: 0!important;
    background-image: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    box-shadow: none!important;
}

.accountMenu {
    display: inline-block;
    height: 30px;
    position: relative;
    top: 0;
    left: 0;
}

.accountMenu>ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
}

.accountMenu:hover>ul.dropdown {
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.30);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.30);
    box-shadow: 0 0 3px rgba(0,0,0,0.30);
}

.accountMenu>ul>li {
    margin-left: 0!important;
}

.accountMenu>ul.dropdown>li>a {
    display: none;
    text-decoration: none;
    text-align: left;
    border: 0;
    background: #fff;
    padding: 0 4px;
}

.accountMenu>ul.dropdown>li>a>img {
    vertical-align: middle;
    border: 0;
}

.accountMenu:hover>ul.dropdown>li:first-child>a {
    -moz-border-radius-topLeft: 1px!important;
    -webkit-border-top-left-radius: 1px!important;
    border-top-left-radius: 1px!important;
    -moz-border-radius-topRight: 1px!important;
    -webkit-border-top-right-radius: 1px!important;
    border-top-right-radius: 1px!important;
}

.accountMenu:hover>ul.dropdown>li:last-child>a {
    -moz-border-radius-bottomLeft: 1px!important;
    -webkit-border-bottom-left-radius: 1px!important;
    border-bottom-left-radius: 1px!important;
    -moz-border-radius-bottomRight: 1px!important;
    -webkit-border-bottom-right-radius: 1px!important;
    border-bottom-right-radius: 1px!important;
}

.accountMenu>ul.dropdown>li>a.active {
    display: block;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.accountMenu:hover>ul.dropdown>li>a {
    display: block;
    -moz-border-radius: 0!important;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
    position: static;
}

.accountMenu>ul.dropdown>li>a:hover {
    border: 0;
}

.accountMenu:hover>ul.dropdown>li>a.active:active,.accountMenu>ul.dropdown>li>a:active {
    border: 0;
}

.accountMenu:hover>ul.dropdown>li>a.active {
    border: 0!important;
    background-image: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -o-box-shadow: none!important;
    box-shadow: none!important;
}

::selection {
    background: #FF5300;
    color: #fff;
}

::-moz-selection {
    background: #FF5300;
    color: #fff;
}